################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/List/List/.vs/List.slnx/v18
/List/List/.vs/List.slnx/FileContentIndex
/List/Dictionary/Dictionary/.vs
/Dictionary/.vs
/Dictionary/Dictionary/.vs
